In [2]:
import pandas as pd

# Load the data
data = pd.read_csv(r"C:\Users\danie\Desktop\Boot Camp\Labs\Lab_2\marketing_customer_analysis.csv")

# Show the dataframe shape
print("Dataframe shape:", data.shape)

Dataframe shape: (9134, 24)

In [3]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [4]:
# Standardize header names
data.columns = data.columns.str.lower().str.replace(' ', '_')

# Check the standardized header names
print("Standardized header names:\n", data.columns)

Standardized header names:
 Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [5]:
# Identify numerical columns
numerical_columns = data.select_dtypes(include=['number']).columns
print("Numerical columns:", numerical_columns)

# Identify categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)

Numerical columns: Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies',
       'total_claim_amount'],
      dtype='object')
Categorical columns: Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size'],
      dtype='object')

In [6]:
# Check for NaN values
nan_values = data.isna().sum()
print("NaN values:\n", nan_values)

# Deal with NaN values
data = data.fillna(0)  # Fill NaN values with 0

NaN values:
 customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [7]:
# Convert effective_to_date column to datetime
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

In [8]:
data['effective_to_date']

0      2011-02-24
1      2011-01-31
2      2011-02-19
3      2011-01-20
4      2011-02-03
          ...
9129   2011-02-10
9130   2011-02-12
9131   2011-02-06
9132   2011-02-03
9133   2011-02-14
Name: effective_to_date, Length: 9134, dtype: datetime64[ns]

In [9]:
# Extract months and store in a separate column
data['month'] = data['effective_to_date'].dt.month

In [10]:
data['month']

0       2
1       1
2       2
3       1
4       2
       ..
9129    2
9130    2
9131    2
9132    2
9133    2
Name: month, Length: 9134, dtype: int64

In [11]:
# Filter data for the first quarter (January, February, and March)
first_quarter_data = data[data['month'].isin([1, 2, 3])]

In [12]:
first_quarter_data

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,1
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,2
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,1
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize,2
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize,2
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize,2
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large,2
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize,2

In [13]:
# Display the filtered data
print("Data for the first quarter:\n", first_quarter_data)

Data for the first quarter:
      customer       state  customer_lifetime_value response  coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     education effective_to_date employmentstatus gender  income  ...  \
0     Bachelor        2011-02-24         Employed      F   56274  ...
1     Bachelor        2011-01-31       Unemployed      F       0  ...
2     Bachelor        2011-02-19         Employed      F   48767  ...
3     Bachelor        2011-01-20       Unemployed      M       0  ...
4     Bachelor        2011-02-03         Employed      M   43836  ...
...        ...               ...              ...    ...     ...  ...
9129  Bachelor        2011-02-10         Employed      M   71941  ...
9130   College        2011-02-12         Employed      F   21604  ...
9131  Bachelor        2011-02-06       Unemployed      M       0  ...
9132   College        2011-02-03         Employed      M   21941  ...
9133   College        2011-02-14       Unemployed      M       0  ...

     number_of_open_complaints number_of_policies     policy_type  \
0                            0                  1  Corporate Auto
1                            0                  8   Personal Auto
2                            0                  2   Personal Auto
3                            0                  7  Corporate Auto
4                            0                  1   Personal Auto
...                        ...                ...             ...
9129                         0                  2   Personal Auto
9130                         0                  1  Corporate Auto
9131                         3                  2  Corporate Auto
9132                         0                  3   Personal Auto
9133                         0                  1  Corporate Auto

            policy  renew_offer_type  sales_channel  total_claim_amount  \
0     Corporate L3            Offer1          Agent          384.811147
1      Personal L3            Offer3          Agent         1131.464935
2      Personal L3            Offer1          Agent          566.472247
3     Corporate L2            Offer1    Call Center          529.881344
4      Personal L1            Offer1          Agent          138.130879
...            ...               ...            ...                 ...
9129   Personal L1            Offer2            Web          198.234764
9130  Corporate L3            Offer1         Branch          379.200000
9131  Corporate L2            Offer1         Branch          790.784983
9132   Personal L2            Offer3         Branch          691.200000
9133  Corporate L3            Offer4    Call Center          369.600000

      vehicle_class vehicle_size month
0      Two-Door Car      Medsize     2
1     Four-Door Car      Medsize     1
2      Two-Door Car      Medsize     2
3               SUV      Medsize     1
4     Four-Door Car      Medsize     2
...             ...          ...   ...
9129  Four-Door Car      Medsize     2
9130  Four-Door Car      Medsize     2
9131  Four-Door Car      Medsize     2
9132  Four-Door Car        Large     2
9133   Two-Door Car      Medsize     2

[9134 rows x 25 columns]

In [14]:
def preprocess_data(df):
    # Standardize header names
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    # Deal with NaN values
    df = df.fillna(0)  # Fill NaN values with 0
    
    # Convert effective_to_date column to datetime
    df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
    
    # Extract months and store in a separate column
    df['month'] = df['effective_to_date'].dt.month
    
    # Filter data for the first quarter (January, February, and March)
    df = df[df['month'].isin([1, 2, 3])]
    
    return df

In [15]:
processed_data = preprocess_data(data)
print("Processed data for the first quarter:\n", processed_data)

Processed data for the first quarter:
      customer       state  customer_lifetime_value response  coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     education effective_to_date employmentstatus gender  income  ...  \
0     Bachelor        2011-02-24         Employed      F   56274  ...
1     Bachelor        2011-01-31       Unemployed      F       0  ...
2     Bachelor        2011-02-19         Employed      F   48767  ...
3     Bachelor        2011-01-20       Unemployed      M       0  ...
4     Bachelor        2011-02-03         Employed      M   43836  ...
...        ...               ...              ...    ...     ...  ...
9129  Bachelor        2011-02-10         Employed      M   71941  ...
9130   College        2011-02-12         Employed      F   21604  ...
9131  Bachelor        2011-02-06       Unemployed      M       0  ...
9132   College        2011-02-03         Employed      M   21941  ...
9133   College        2011-02-14       Unemployed      M       0  ...

     number_of_open_complaints number_of_policies     policy_type  \
0                            0                  1  Corporate Auto
1                            0                  8   Personal Auto
2                            0                  2   Personal Auto
3                            0                  7  Corporate Auto
4                            0                  1   Personal Auto
...                        ...                ...             ...
9129                         0                  2   Personal Auto
9130                         0                  1  Corporate Auto
9131                         3                  2  Corporate Auto
9132                         0                  3   Personal Auto
9133                         0                  1  Corporate Auto

            policy  renew_offer_type  sales_channel  total_claim_amount  \
0     Corporate L3            Offer1          Agent          384.811147
1      Personal L3            Offer3          Agent         1131.464935
2      Personal L3            Offer1          Agent          566.472247
3     Corporate L2            Offer1    Call Center          529.881344
4      Personal L1            Offer1          Agent          138.130879
...            ...               ...            ...                 ...
9129   Personal L1            Offer2            Web          198.234764
9130  Corporate L3            Offer1         Branch          379.200000
9131  Corporate L2            Offer1         Branch          790.784983
9132   Personal L2            Offer3         Branch          691.200000
9133  Corporate L3            Offer4    Call Center          369.600000

      vehicle_class vehicle_size month
0      Two-Door Car      Medsize     2
1     Four-Door Car      Medsize     1
2      Two-Door Car      Medsize     2
3               SUV      Medsize     1
4     Four-Door Car      Medsize     2
...             ...          ...   ...
9129  Four-Door Car      Medsize     2
9130  Four-Door Car      Medsize     2
9131  Four-Door Car      Medsize     2
9132  Four-Door Car        Large     2
9133   Two-Door Car      Medsize     2

[9134 rows x 25 columns]